<!DOCTYPE html>
<html>
<head>
<title>Kyle Potter - Curriculum Vitae</title>

<meta name="viewport" content="width=device-width"/>
<meta name="description" content="The Curriculum Vitae of Joe Bloggs."/>
<meta charset="UTF-8"> 

<%= csp_meta_tag %>

<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

<link type="text/css" rel="stylesheet" href="style.css">

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body id="top">
<div id="cv" class="instaFade">
	<div class="mainDetails">
		<div id="headshot" class="quickFade">
		<%= image_tag('headshot.jpg', alt: "Kyle Potter") %>
		</div>
		
		<div id="name">
			<h1 class="quickFade delayTwo">Kyle Potter</h1>
			<h2 class="quickFade delayThree">Senior Cloud Operations Engineer</h2>
		</div>
		
		<div id="contactDetails" class="quickFade delayFour">
			<ul>
				<li> <a href="mailto:kylepotter0902@gmail.com" target="_blank">kylepotter0902@gmail.com</a></li>
				<li> <a href="https://www.linkedin.com/in/kyle-potter-501028112/">www.linkedin.com/kylepotter</a></li>
				<li> 509-701-5761</li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	
	<div id="mainArea" class="quickFade delayFive">
		<section>
			<article>
				<div class="sectionTitle">
					<h1>Summary</h1>
				</div>
				
				<div class="sectionContent">
					<p>I am a Senior Cloud Operations Engineer with a strong background in AWS, a passion for Linux, and a desire to automate things! I am currently looking for a development role where I can work on my programming skills, while leveraging my knowlege of AWS and DevOps practices.</p>
				</div>
			</article>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Work Experience</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>Senior Cloud Operations Engineer</h2>
					<h3>2nd Watch</h3>
					<p class="subDetails">September 2019 - Present</p>

					<li>Implement Tools And Technologies At Scale In An Enterprise AWS Environment</li>
					<li>Manage Networks Between 60+ AWS Accounts For An Enterprise Client</li>
					<li>Deploy Infrastructure As Code With Terraform</Li>
					<li>Linux Server Administration &amp; Troubleshooting</li>
					<li>Automate Configuration Tasks Via Ansible</li>
					<li>Windows Server Administration &amp; Troubleshooting</li>
					<li>Lead Client Troubleshooting Calls</li>
					<li>Work On Resolving Escalated Tickets From Tier 1 Support</li>

				</article>
				<br/>
				<article>
					<h2>Cloud Operations Engineer</h2>
					<h3>2nd Watch</h3>
					<p class="subDetails">April 2018 - September 2019</p>
					<li>Maintaining SLA On Client Tasks And Tickets</li>
					<li>Lead Customer Outage Calls For Quick Resolution</li>
					<li>Configure, Administer, And Monitor Systems In AWS</li>
					<li>Provide Detailed Notes On Tickets And Escalations</li>
					<li>Document Processes And Procedures for Incident Resolution</li>
					<li>Train Current &amp; New Employees</li>
					<br/>

				</article>

				</article>
			</div>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Key Skills</h1>
			</div>
			
			<div class="sectionContent">
				<ul class="keySkills">
					<li>Amazon Web Services</li>
					<li>Linux Administration</li>
					<li>AWS CLI</li>
					<li>Terraform</li>
					<li>Ansible</li>
					<li>BASH</li>
					<li>Git</li>
					<li>Windows/Mac OS</li>
					<li>Troubleshooting</li>

				</ul>
			</div>
			<div class="clear"></div>
		</section>
		
		<section>
		<div class="sectionTitle">
			<h1>Certifications</h1>
		</div>
		
		<div class="sectionContent">
			<article>
				<h1>CERTIFIED AWS SOLUTIONS ARCHITECT – ASSOCIATE</h1>
				<h3>Amazon Web Services, License ID: V3FY0TSCBFFEQQ57</h3>
				<p class="subDetails">June 2018 - June 2021</p>
			</article>
			<br/>
			<article>
				<h1>CERTIFIED AWS DEVELOPER – ASSOCIATE</h1>
				<h3>Amazon Web Services, License ID: 6QGRP902CFQ41PG5</h3>
				<p class="subDetails">January 2019 - January 2022</p>
				<br/>
				<article>
				<h1>CERTIFIED AWS SYSOPS ADMINISTRATOR – ASSOCIATE</h1>
				<h3>Amazon Web Services, License ID: P8TXEYQ2M2R4Q997</h3>
				<p class="subDetails">July 2019 – July 2022</p>
			</article>
			<br/>
			<article>
				<h1>CERTIFIED AWS CLOUD PRACTITIONER</h1>
				<h3>Amazon Web Services, License ID: 3XNSY1QCE1R11D5L</h3>
				<p class="subDetails">December 2017 – December 2020</p>
			</article>
		</div>
		<div class="clear"></div>
	</section>
		
		<section>
			<div class="sectionTitle">
				<h1>Education</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>Spokane Falls Commuity College</h2>
					<h3>A.A.S Degree - Audio Engineering</h3>
					<p class="subDetails">September 2011 - June 2013</p>
				</article>
				<br/>
				<article>
					<h2>Shadle Park High School</h2>
					<h3>High School Diploma</h3>
					<p class="subDetails">September 2008 - June 2011</p>
				</article>
			</div>
			<div class="clear"></div>
		</section>
		
	</div>
</div>

</body>
</html>